<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\EmployeeManagement.Api.dll"
                stdoutLogEnabled="true"
                stdoutLogFile=".\Logs\stdout"
                hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production"/>
      </environmentVariables>
    </aspNetCore>
    <staticContent>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="application/javascript"/>
      <remove fileExtension=".mjs"/>
      <mimeMap fileExtension=".mjs" mimeType="application/javascript"/>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json"/>
    </staticContent>
  </system.webServer>
</configuration>
